<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.wbkit.dao.UserMapper">

    
    
    <sql id="allColumn">
       user_id, login_name, login_pwd, `name`, role_id, is_active
    </sql>

        <resultMap id="rm" type="com.wbkit.entity.UserBean">
            <id property="userId" column="user_id"/>
            <result property="loginName" column="login_name"></result>
            <result property="loginPwd" column="login_pwd"></result>
            <result property="name" column="name"></result>
            <result property="roleId" column="role_id"></result>
            <result property="isActive" column="is_active"></result>
        </resultMap>

        <select id="login" parameterType="com.wbkit.entity.UserBean" resultMap="rm">

            select <include refid="allColumn"/> from RAZOR_USER where login_name = #{loginName} and login_pwd = #{loginPwd}

        </select>
		
</mapper>